# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/
.env.local
.env.*.local

# DVC
# Игнорируем данные внутри папок
data/raw/february/
data/raw/march/
data/interim/
data/processed/
data/predictions/
models/*.pkl
models/*.npz

# НЕ игнорируем .dvc файлы и служебные файлы
!data/**/*.dvc
!data/**/.gitkeep
!models/.gitkeep

# MLflow
mlruns/

.DS_Store
*.egg-info/
dist/
build/

.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Logs
*.log
logs/

# Reports
reports/*.html
