fastapi==0.135.3
uvicorn==0.43.0
python-multipart==0.0.22

numpy==2.4.4
scipy==1.17.1
pandas==2.3.3
scikit-learn==1.8.0
polars==1.39.3

implicit==0.7.2

mlflow==3.10.1
psycopg2-binary==2.9.11
SQLAlchemy==2.0.49

evidently==0.7.21

prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.24.1

PyYAML==6.0.3
requests==2.33.1
